body{
  width: 60vw;
  margin: 0 auto;
}

h2, h3, h4{
  text-align: center;
}

h2, h3{
  text-transform: uppercase;
}

p{
  text-align: center;
  margin: 0 15vw;
  font-size: large;
}

ul{
  padding-left: 18vw;
}

li a{
  text-decoration: none;
  color: #1976d2;
}

li a:hover{
  transition: all 0.3s ease-out;
  color: #9575cd;
}

:root{
  --danger-color: #f44336;
  --warning-color: #ff9800;
  --success-color: #4caf50;
}

.danger-text{
  color: var(--danger-color);
}